*.suo
*.filters
*.sln
*.sdf
*.vcxproj
*.layout
*.win
*.o
*.dev
*.exe
*.ilk
*.pdb
*.opendb
*.tlog
llcx/edu.txt
llcx/mar.txt
*.log
llcx/age.txt
llcx/hos.txt
llcx/data.txt
llcx/owe.txt
llcx/源.cpp
llcx/pay.txt
llcx/sex.txt
llcx/test.cpp
*.idb
*.obj
*.enc